# WordPress API Configuration
WP_API_URL=https://tu-wordpress.com
WP_API_USER=admin
WP_API_PASS=xxxx xxxx xxxx xxxx
SSO_SECRET=clave_secreta_aleatoria_muy_larga_y_segura

# App Configuration
NUXT_PUBLIC_API_BASE=http://localhost:8000
